/* Copyright MADE/YOUR/DAY OG <mail@madeyourday.net>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
/* ===========================================
 * Default Content Skin
 * ======================================== */
.rsts-skin-default-content.rsts-main {
  position: relative;
}
.rsts-skin-default-content.rsts-type-fade .rsts-slide {
  background-color: white;
}
.rsts-skin-default-content .rsts-caption {
  position: absolute;
  top: 20px;
  left: 20px;
  margin-right: 20px;
  padding: 5px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: white;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transform: translate(0, -20px);
  -moz-transform: translate(0, -20px);
  -ms-transform: translate(0, -20px);
  -o-transform: translate(0, -20px);
  transform: translate(0, -20px);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  -moz-transition: opacity 0.5s, -moz-transform 0.5s;
  -o-transition: opacity 0.5s, -o-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
}
.rsts-skin-default-content .rsts-active .rsts-caption {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.rsts-skin-default-content .rsts-prev, .rsts-skin-default-content .rsts-next {
  display: none;
}
.rsts-skin-default-content .rsts-nav-prev a, .rsts-skin-default-content .rsts-nav-next a, .rsts-skin-default-content .rsts-video-play, .rsts-skin-default-content .rsts-video-stop,
.rsts-skin-default-content .rsts-thumbs-prev, .rsts-skin-default-content .rsts-thumbs-next {
  overflow: hidden;
  width: 30px;
  height: 30px;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: none;
  line-height: 0;
  text-align: center;
  text-decoration: none;
  text-indent: -9999px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  background-position: 50% 50%;
  -webkit-transition: opacity 0.05s linear;
  -moz-transition: opacity 0.05s linear;
  -o-transition: opacity 0.05s linear;
  transition: opacity 0.05s linear;
}
.rsts-skin-default-content .rsts-nav-prev a:hover, .rsts-skin-default-content .rsts-nav-next a:hover, .rsts-skin-default-content .rsts-video-play:hover, .rsts-skin-default-content .rsts-video-stop:hover,
.rsts-skin-default-content .rsts-thumbs-prev:hover, .rsts-skin-default-content .rsts-thumbs-next:hover {
  background-color: #eeeeee;
  background-color: rgba(238, 238, 238, 0.7);
}
.rsts-skin-default-content .rsts-nav-prev a, .rsts-skin-default-content .rsts-nav-next a,
.rsts-skin-default-content .rsts-thumbs-prev, .rsts-skin-default-content .rsts-thumbs-next {
  display: inline-block;
  vertical-align: top;
}
.rsts-skin-default-content .rsts-thumbs-prev, .rsts-skin-default-content .rsts-thumbs-next {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -15px;
}
.rsts-skin-default-content .rsts-thumbs-prev {
  right: auto;
  left: 10px;
}
.rsts-skin-default-content .rsts-nav-prev a,
.rsts-skin-default-content .rsts-thumbs-prev {
  margin-right: 10px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAilBMVEUHBwg/QEF5enp5ensCAwQHCAhzdHUAAQEGBwh8fX37+/svMDBub3COjo9yc3NtbW709fWvsLDm5uba2trR0dEuLi6Pj4/Q0NDl5eXZ2toFBgfz8/MuLy/09PT29vb8/Pz6+vp7e3x0dXZzdHT4+Pj39/f9/v3+/v79/f3///8EBQb5+fkAAAD19fVMP6q+AAAALnRSTlOAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA8hTP8QAAAJ1JREFUeNrV0lkPwiAMAOB53zrva2xOxQm0///vWZ4a1o3EN20gNPnSlFASRKVQIS2KFHPKaPvcH8St8WesXYzddVMIZn3NZ1tTZ9Y7QLa7MdfVWlgYZqk9lzML7VZPbGCdDsFekpI14GoN/fGoY6aqkbVaUvVg0lKN7v3wvcuwt/Tg5tIPRjA77I/i1dhX2dnEJnYq4vP+2a/4FX8AsSOXytKixMYAAAAASUVORK5CYII=');
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-device-pixel-ratio: 4 / 3), only screen and (min-device-pixel-ratio: 1.3) {
  .rsts-skin-default-content .rsts-nav-prev a,
  .rsts-skin-default-content .rsts-thumbs-prev {
    background-image: url('data:"image/png";base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAMAAAANIilAAAAAIVBMVEWhoaE7PD15enqVlpaTk5N2d3h0dHVoaWpmZmcGBwj19fXsWX/bAAAAC3RSTlOAgICAgICAgICAgMiF55wAAAB9SURBVHja7dUxEoAgFANRFBTw/ge2YythEivHn/6VmU3XiwUOHPhPuGYf196zjLHPOi0tWsBYtICx/Zxgw4INCzYs2LBgw4INC55ZFadhN+NVbeh9jhf6mGJDgw0NNjTY0GBDgz0NXusiYDRWwGisgNHFL0Yrnwxd4MCBtd3+EosAicYyWQAAAABJRU5ErkJggg==');
    background-size: 30px, 30px;
  }
}
.rsts-skin-default-content .rsts-nav-next a,
.rsts-skin-default-content .rsts-thumbs-next {
  margin-left: 10px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAkFBMVEUBAQLPz9AlJiYlJifS0tIsLS0nJyjQ0dDR0tIBAQElJSYrLC2tra39/PwFBQYFBgf6+fmBgYKCgoL9/f339vZBQULIycnIyMiCg4PR0dEmJycmJyjMzMz8/Pzl5eXj4+MCAwQGBwghIiP09PT7+/shIiL6+vrNzs7Nzc0iIyP29vb39/cHCAkAAAD////19fV/WdL3AAAAMHRSTlOAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICRnvRdAAAAnklEQVR42tXSxw7CMAwG4LL3XqUtLdRQqNPY7/92WEJVDhkSN7B8iPTpl6M4ETMAA0t/ChmwPTELe+uPGKsQKywWflYUJxn5eI9xpOsneXidp7pp3Wa+dHrGbWY6d43bLD673nR9vLsZaL5cNfoAyp0eDyRdntxp6icy+/Ei981HqVGLq3xo1GaFm4kuRb1vvp1mFNzYLrzvn/2KX/MbXNOe099MDj0AAAAASUVORK5CYII=');
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-device-pixel-ratio: 4 / 3), only screen and (min-device-pixel-ratio: 1.3) {
  .rsts-skin-default-content .rsts-nav-next a,
  .rsts-skin-default-content .rsts-thumbs-next {
    background-image: url('data:"image/png";base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAMAAAANIilAAAAAHlBMVEWhoaE7PD2VlpaTk5N2d3h0dHVoaWpmZmcGBwj19fXtfGSSAAAACnRSTlOAgICAgICAgICAXdxslAAAAHxJREFUeNrt1TEOgDAMxdDSAi33vzBbPVUoZkLE+1O2/HK9KHHixH/A9fS4jnGGMfZZl6VFBzAWHcLHQD9gocFCg4UGCw0WGiw0WGjwum3qEsb7tH1xWViwsGBhwcKChQULC5Z2jRs2itHdfc+GjWB094vR+ieHLnHixK4bjyV89TB6vlgAAAAASUVORK5CYII=');
    background-size: 30px, 30px;
  }
}
.rsts-skin-default-content.rsts-direction-y .rsts-nav-prev a {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAbFBMVEUgISLDw8MgICGUlZaIiImSk5PCwsP9/f39/PyHh4iUlJWSkpLX2NgAAQIoKSkGBwgdHR7Ly8skJSYEBAXHyMj+/v739/ciIyMhIiImJyfNzc3S0tL8/Pz7+/v29vYHCAnNzs4AAAD////19fVh+HN2AAAAJHRSTlOAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC401waAAAAiUlEQVR42uXRyQ7CMAwE0LC2QHfaQkji1sP//yNR1csEiXMlfPFI7zCWbN7JCCVmnj9i738x2hbMpHPTzCAmfag+XyAmrWt2QzqV5URuSLWqdHXmsDMRbFHYuPbnkPBw0rtaBzgbw21IWPKjdg6xxHV68ZJ2j9mhXyrRX/34fblgLQyQLf57S/wBI9V2nx3O9QoAAAAASUVORK5CYII=');
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-device-pixel-ratio: 4 / 3), only screen and (min-device-pixel-ratio: 1.3) {
  .rsts-skin-default-content.rsts-direction-y .rsts-nav-prev a {
    background-image: url('data:"image/png";base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAMAAAANIilAAAAAG1BMVEWjpKQ5OTqVlpaTk5NmZmdoaWp2d3gGBwj19fXoTOf7AAAACXRSTlOAgICAgICAgIC7HeZcAAAAeUlEQVR42u3UMQ6AMAzF0A8BmvufGHVpyOIOFRJI8f5WyxcqXLhw4U9jLeCznYzRNtYi2zsIs2UttqzFlrXYshZb1mLLWmg31iJ7+YVaaJ210GY9x/awWdsc+z5s1uaEQ4cNbY449LChzQFn3W3S9qsBFi5cuPDr+AYQcW8C6kiUiAAAAABJRU5ErkJggg==');
    background-size: 30px, 30px;
  }
}
.rsts-skin-default-content.rsts-direction-y .rsts-nav-next a {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAbFBMVEUwMTKKi4suLzAGBwja2trR0dEwMDEuLi/Q0NDZ2dmJiYp7e3x6e3t/gIEAAQL09PTn5+f6+vr8/Px0dHVwcHH8/f329vYFBgdzdHT+/v79/v339/f9/f3///90dXb4+Pj5+fkEBQYAAAD19fUC5l8BAAAAJHRSTlOAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC401waAAAAnElEQVR42uXSyQ4CIQwG4HEddRZmZUSEQnn/d7RkSAi4HI2Jf6AlfIceoHCOMcccrTXcMR5OtInf5k/YyLVL84qHjoHvwLrhmdW+0AJIhT6eVc79YYtYCQBRIZanPmO1QWuxVqr2/aIylqD9fdP4OoLMZ5sb+dK2i8Xr3cTZie+CRk49aOTUcSRNOfo8TXPUnB1QPj0J5z/5Hb7OD7UPdeTEuFeXAAAAAElFTkSuQmCC');
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-device-pixel-ratio: 4 / 3), only screen and (min-device-pixel-ratio: 1.3) {
  .rsts-skin-default-content.rsts-direction-y .rsts-nav-next a {
    background-image: url('data:"image/png";base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAMAAAANIilAAAAAG1BMVEWjpKQ5OTqVlpaTk5NmZmdoaWp2d3gGBwj19fXoTOf7AAAACXRSTlOAgICAgICAgIC7HeZcAAAAg0lEQVR42u3UMQ6EMAxE0WVDYu5/YhpLXzBSRkAF8i9tvXZ+24MKFy5c+HP4P06H0RzGRoyjjWgOY1Nj0YLFpsaip7hFNrBog3ug02brDKsWK3imxQqe6EWsxWi1HqOxHqONBTuN9RiN9Vg11mPVWI9V99tL0rEe6/dVA1i4cOHCl9oBak1vAkBKLfwAAAAASUVORK5CYII=');
    background-size: 30px, 30px;
  }
}
.rsts-skin-default-content .rsts-nav {
  padding: 20px 0 0;
  text-align: center;
}
.rsts-skin-default-content .rsts-nav ul {
  /* Forcing margin/padding, since '#content ul' is quite common */
  margin: 0 !important;
  padding: 0 !important;
}
.rsts-skin-default-content .rsts-nav li {
  display: inline;
}
.rsts-skin-default-content .rsts-nav-numbers .rsts-nav-item a, .rsts-skin-default-content .rsts-nav-tabs .rsts-nav-item a {
  display: inline-block;
  height: 30px;
  min-width: 30px;
  padding: 0.65em 0.5em 0.5em;
  margin: 0 2px 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: none;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  color: #333333;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.rsts-skin-default-content .rsts-nav-numbers .rsts-nav-item a:hover, .rsts-skin-default-content .rsts-nav-tabs .rsts-nav-item a:hover {
  background-color: #eeeeee;
  background-color: rgba(238, 238, 238, 0.5);
}
.rsts-skin-default-content .rsts-nav-numbers .rsts-nav-item a.active, .rsts-skin-default-content .rsts-nav-tabs .rsts-nav-item a.active {
  background-color: #777777;
  background-color: rgba(119, 119, 119, 0.5);
}
.rsts-skin-default-content .rsts-nav-bullets {
  line-height: 0;
}
.rsts-skin-default-content .rsts-nav-bullets .rsts-nav-item a {
  display: inline-block;
  width: 9px;
  height: 9px;
  overflow: hidden;
  margin: 12px 4px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  outline: none;
  text-align: left;
  text-indent: -999px;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 2px #777777;
  -moz-box-shadow: 0 0 2px #777777;
  box-shadow: 0 0 2px #777777;
}
.rsts-skin-default-content .rsts-nav-bullets .rsts-nav-item a:hover, .rsts-skin-default-content .rsts-nav-bullets .rsts-nav-item a.active {
  background-color: #777777;
  -webkit-box-shadow: inset 0 2px 0 -1px rgba(255, 255, 255, 0.5), inset 0 -2px 0 -1px rgba(0, 0, 0, 0.3), 0 0 0 1px #555555;
  -moz-box-shadow: inset 0 2px 0 -1px rgba(255, 255, 255, 0.5), inset 0 -2px 0 -1px rgba(0, 0, 0, 0.3), 0 0 0 1px #555555;
  box-shadow: inset 0 2px 0 -1px rgba(255, 255, 255, 0.5), inset 0 -2px 0 -1px rgba(0, 0, 0, 0.3), 0 0 0 1px #555555;
}
.rsts-skin-default-content .rsts-nav-thumbs {
  padding-top: 5px;
}
.rsts-skin-default-content .rsts-video-play, .rsts-skin-default-content .rsts-video-stop {
  position: absolute;
}
.rsts-skin-default-content .rsts-video-play {
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  width: 64px;
  height: 64px;
  margin: -32px 0 0 -32px;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEYAAABGCAMAAABG8BK2AAAAb1BMVEU4ODgGBgbx8fGurq7i4uIODg5QUFD7+/vBwcEUFBQYGBggICC1tbXNzc0JCQkVFRWsrKwTExPExMTS0tImJibv7+9KSkozMzP4+PhYWFj+/v6Dg4MDAwPl5eVycnKenp4MDAza2toPDw////8AAACZ5/RyAAAAJXRSTlOAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAwmBGiwAAALNJREFUeNrt1kcOwkAQRFFyxsYmBxtDc/8zIrGpA/xaWKhnO9KT5ncvZvCxnGSSSSaZv2GK0sIsFzMHM53MWwPzfkU8OwsT9cHCRHOyMHFpLYwCIUaBEKNAiFEgxCgQYhSIMQrEGAXijAJxJrZrC7NZGZjb/WF41PHqSLw/Owa+q9D6KQthlAUwykIYZSGMsiBGWRCjLIhRFsQoC2Ga0S8LZMqx7gAzLPr0aUsmmWSS6SXzBf8cqwAv1zglAAAAAElFTkSuQmCC');
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-device-pixel-ratio: 4 / 3), only screen and (min-device-pixel-ratio: 1.3) {
  .rsts-skin-default-content .rsts-video-play {
    background-image: url('data:"image/png";base64,iVBORw0KGgoAAAANSUhEUgAAAIwAAACMCAMAAACZHrEMAAAARVBMVEUJCQlOTk4nJyddXV1gYGD29vbh4eGTk5PAwMA2NjYYGBgGBga3t7dUVFQtLS0SEhKHh4fb29sDAwPz8/NaWlr///8AAACZTZFgAAAAF3RSTlOAgICAgICAgICAgICAgICAgICAgICAgCZn8kAAAAFfSURBVHja7dpZUsMwFAVR5gDRLMT+l8r1Cqjih/5oLyB1kurYlp4evkGXGDFixIgRI0aMGDFixIgRI0aMGDFifseQvsBfPvjrdgdhzvsnCHPePkCY8/oCwpxzu4MwCQeESTggTMIBYa5wQJiEA8IkHBAm4YAwVzggTMIBYRIOCJNwQJgrHBAm4YAwCQeESTggzBUOCJNwQJiEA8IkHBDmCgeESTggTMIBYRIOCHOFA8IkHBAm4YAw5/UZhDn7iYOZjfPLlM5pZizMv2lXzk1vNs4duHTOs2kszFN7V87L1WycN73SOe/AY2FWB7tyFnGzcVaUpXPW2mNhdiF25WwWzcbZuSqds6c3Fma3c1fOpvRsnB3y0jmzg7EwU5VdOcOv2TiTuNI5M8qxMNPbXTlD9tk4E//SOWchxsKcEnmsoMM8qGNOYsRgLjFixIgRI0aMGDFixIgRI0aMGDH/e/0Ai4OJ2+ZcrkwAAAAASUVORK5CYII=');
    background-size: 70px, 70px;
  }
}
.rsts-skin-default-content .rsts-video-stop {
  top: 20px;
  right: 20px;
  left: auto;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAbFBMVEWnp6dOTk7x8fHv7+9HR0fw8PDu7u7e3t5NTU3f398UFBQTExP4+PhLS0tvb29xcXH09PRJSUn39/fn5+cWFhampqb29vZISEhMTExLS0ukpKT////r6+sAAAD///8AAABKSkr19fUAAAD///8df9PJAAAAJHRSTlN6e35+e35+e3t7fX1/fHl5fXt/e315fnt7e3p/foGBfnt9gIDdofLFAAAAk0lEQVR42u2SSQ7DIAxF03nKPBEC2Ni9/x3jsMXqsuqiljxITx/8EcX7Y/wxuOmUhmPhIMdlg4akzxGbMscrBu4IyHLANce+Ymb7WKRWPsdyqpCnZJzVzUmUEgvpxmAYA4dxAB3TIanvupqisJdkRwr2O403K9V43bdpgaLuu6/x3KY7sO7VN7+m4TI5+K3v8H28AYM7doAzbo6MAAAAAElFTkSuQmCC');
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-device-pixel-ratio: 4 / 3), only screen and (min-device-pixel-ratio: 1.3) {
  .rsts-skin-default-content .rsts-video-stop {
    background-image: url('data:"image/png";base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAMAAAANIilAAAAALVBMVEXo6OjGxsZjY2PKysq3t7ewsLCOjo7f39+Pj4/l5eVfX19hYWHj4+NRUVH///80A/15AAAAD3RSTlOGkL2PlZemiKWHvr2HyICcCOzTAAAAv0lEQVR42u3VSQ7DIAxA0bRJSBjs+x83mzYfNnatLqpKeM0THmRY9IuYeOKJJ7bwlsdTWwCfUpsS+Smni7EipfVW5PQwtte5iqAdvIvcGiuy25gs0e1ta7YwuqJ76+NRr6P1MbkSTM7HaKyP0QXK1HyMxgaxrjde1cBe1TV4MzZeMxYdm7OvF9OWR7H0YtpDG/ojnDurnc6hfT7Iw9tnImE7ney00bdFJ3Uw+mXpQoq822Nv8/Yf383EE0/8G3wBfh3Bcn7dsMIAAAAASUVORK5CYII=');
    background-size: 30px, 30px;
  }
}
.rsts-skin-default-content .rsts-video-youtube > .rsts-video-stop {
  top: 25px;
}
.rsts-skin-default-content .rsts-video-vimeo > .rsts-video-stop {
  top: 10px;
  right: auto;
  left: 10px;
}
.rsts-skin-default-content .rsts-video-ipad > .rsts-video-iframe {
  padding-top: 32px;
  background-color: black;
}
.rsts-skin-default-content .rsts-video-ipad > .rsts-video-stop {
  top: 1px;
  right: 1px;
  left: auto;
}
.rsts-skin-default-content .rsts-progress {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.rsts-skin-default-content .rsts-progress div {
  height: 100%;
  background-color: white;
}
.rsts-skin-default-content .rsts-progress.rsts-progress-active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
.rsts-skin-default-content .rsts-thumbs-slide {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
.rsts-skin-default-content .rsts-thumbs-slide.rsts-thumbs-active-thumb {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
