/* Copyright MADE/YOUR/DAY OG <mail@madeyourday.net>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
/* ===========================================
 * Basic styles (shouldn't be modified)
 * ======================================== */
.rsts-main, .rsts-main * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.rsts-header, .rsts-footer {
  /* prevent collapsing margins */
  overflow: hidden;
}

.rsts-view {
  position: relative;
}

.rsts-crop {
  position: relative;
  overflow: hidden;
}

.rsts-slides, .rsts-slide {
  position: absolute;
  left: 0;
  top: 0;
}

.rsts-slide {
  overflow: hidden;
}

.rsts-slide img {
  display: block;
}

.rsts-video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rsts-type-slide .rsts-view {
  cursor: url("../img/openhand.cur"), default;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -ms-grab;
  cursor: -o-grab;
  cursor: grab;
}
.rsts-type-slide.rsts-dragging .rsts-view {
  cursor: url("../img/closedhand.cur"), default;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -ms-grabbing;
  cursor: -o-grabbing;
  cursor: grabbing;
}
