/* Copyright MADE/YOUR/DAY OG <mail@madeyourday.net>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
/* ===========================================
 * Basic styles (shouldn't be modified)
 * ======================================== */
.rsts-main, .rsts-main * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.rsts-view {
  position: relative;
  overflow: hidden;
}

.rsts-slides, .rsts-slide {
  position: absolute;
  left: 0;
  top: 0;
}

.rsts-slide {
  overflow: hidden;
}

.rsts-slide img {
  display: block;
}

.rsts-type-slide .rsts-view {
  cursor: url("../img/openhand.cur"), default;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -ms-grab;
  cursor: -o-grab;
  cursor: grab;
}
.rsts-type-slide.rsts-dragging .rsts-view {
  cursor: url("../img/closedhand.cur"), default;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -ms-grabbing;
  cursor: -o-grabbing;
  cursor: grabbing;
}

/* ===========================================
 * Default Skin
 * ======================================== */
.rsts-skin-default.rsts-main {
  position: relative;
  background: black;
}
.rsts-skin-default .rsts-slide img {
  width: 100%;
  height: auto;
}
.rsts-skin-default .rsts-caption {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 5px 10px;
  color: white;
  background: black;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  -webkit-transform: translate(0, -20px);
  -moz-transform: translate(0, -20px);
  -ms-transform: translate(0, -20px);
  -o-transform: translate(0, -20px);
  transform: translate(0, -20px);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  -moz-transition: opacity 0.5s, -moz-transform 0.5s;
  -o-transition: opacity 0.5s, -o-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
}
.rsts-skin-default .rsts-active .rsts-caption {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.rsts-skin-default .rsts-nav-prev, .rsts-skin-default .rsts-nav-next {
  position: absolute;
  top: 50%;
  left: 20px;
  font-size: 50px;
  text-decoration: none;
  color: black;
}
.rsts-skin-default .rsts-nav-next {
  left: auto;
  right: 20px;
}
.rsts-skin-default .rsts-nav {
  display: block;
  text-align: center;
  background: #222222;
  -webkit-box-shadow: 0 0 10px black inset;
  -moz-box-shadow: 0 0 10px black inset;
  box-shadow: 0 0 10px black inset;
  text-shadow: 0 0 1px black;
}
.rsts-skin-default .rsts-nav ul {
  margin: 0;
  padding: 0;
}
.rsts-skin-default .rsts-nav li {
  display: inline;
}
.rsts-skin-default .rsts-nav-numbers a, .rsts-skin-default .rsts-nav-tabs a {
  display: inline-block;
  padding: 0.5em;
  color: white;
  text-decoration: none;
}
.rsts-skin-default .rsts-nav-numbers a:hover, .rsts-skin-default .rsts-nav-numbers a.active, .rsts-skin-default .rsts-nav-tabs a:hover, .rsts-skin-default .rsts-nav-tabs a.active {
  background: #333333;
}
.rsts-skin-default .rsts-nav-bullets {
  line-height: 0;
}
.rsts-skin-default .rsts-nav-bullets a {
  display: inline-block;
  width: 8px;
  height: 8px;
  overflow: hidden;
  margin: 12px 4px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  text-indent: -999px;
  background-color: #999999;
}
.rsts-skin-default .rsts-nav-bullets a:hover, .rsts-skin-default .rsts-nav-bullets a.active {
  background-color: white;
}
.rsts-skin-default .rsts-video-play, .rsts-skin-default .rsts-video-stop {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  overflow: hidden;
  margin: -32px 0 0 -32px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  text-indent: -999px;
  text-decoration: none;
  background: black;
  background: rgba(0, 0, 0, 0.8);
}
.rsts-skin-default .rsts-video-play:before, .rsts-skin-default .rsts-video-stop:before {
  content: "";
  position: absolute;
  top: 20px;
  left: 24px;
  display: block;
  border: 12px solid transparent;
  border-left-color: white;
  border-left-width: 23px;
  border-right-width: 0;
}
.rsts-skin-default .rsts-video-play:hover, .rsts-skin-default .rsts-video-play:focus, .rsts-skin-default .rsts-video-stop:hover, .rsts-skin-default .rsts-video-stop:focus {
  background: white;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}
.rsts-skin-default .rsts-video-play:hover:before, .rsts-skin-default .rsts-video-play:focus:before, .rsts-skin-default .rsts-video-stop:hover:before, .rsts-skin-default .rsts-video-stop:focus:before {
  border-left-color: black;
}
.rsts-skin-default .rsts-video-stop {
  top: 10px;
  left: auto;
  right: 10px;
  margin: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  width: 32px;
  height: 32px;
}
.rsts-skin-default .rsts-video-stop:before {
  content: "\d7";
  top: 8px;
  left: 8px;
  width: 16px;
  height: 16px;
  border: 0;
  color: white;
  font-size: 23px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  text-indent: 0;
}
