/* Copyright MADE/YOUR/DAY OG <mail@madeyourday.net>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
/* ===========================================
 * Basic styles (shouldn't be modified)
 * ======================================== */
.rsts-main, .rsts-main * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.rsts-header, .rsts-footer,
.rsts-thumbs-header, .rsts-thumbs-footer {
  /* prevent collapsing margins */
  overflow: hidden;
}

.rsts-view,
.rsts-thumbs-view {
  position: relative;
}
@media print {
  .rsts-view,
  .rsts-thumbs-view {
    position: static;
  }
}

.rsts-crop,
.rsts-thumbs-crop {
  position: relative;
  overflow: hidden;
}
@media print {
  .rsts-crop,
  .rsts-thumbs-crop {
    position: static;
    overflow: visible;
    width: auto !important;
    height: auto !important;
    transform: none !important;
  }
}

.rsts-slides, .rsts-slide,
.rsts-thumbs-slides, .rsts-thumbs-slide {
  position: absolute;
  left: 0;
  top: 0;
}
@media print {
  .rsts-slides, .rsts-slide,
  .rsts-thumbs-slides, .rsts-thumbs-slide {
    position: static;
    width: auto !important;
    height: auto !important;
    transform: none !important;
  }
  .rsts-slides.rsts-slide-image img, .rsts-slides.rsts-slide-video img, .rsts-slides.rsts-thumbs-slide-image img, .rsts-slides.rsts-thumbs-slide-video img, .rsts-slide.rsts-slide-image img, .rsts-slide.rsts-slide-video img, .rsts-slide.rsts-thumbs-slide-image img, .rsts-slide.rsts-thumbs-slide-video img,
  .rsts-thumbs-slides.rsts-slide-image img,
  .rsts-thumbs-slides.rsts-slide-video img,
  .rsts-thumbs-slides.rsts-thumbs-slide-image img,
  .rsts-thumbs-slides.rsts-thumbs-slide-video img, .rsts-thumbs-slide.rsts-slide-image img, .rsts-thumbs-slide.rsts-slide-video img, .rsts-thumbs-slide.rsts-thumbs-slide-image img, .rsts-thumbs-slide.rsts-thumbs-slide-video img {
    width: 100% !important;
    height: auto !important;
    margin: 0 !important;
  }
}

.rsts-slide,
.rsts-thumbs-slide {
  overflow: hidden;
}
@media print {
  .rsts-slide,
  .rsts-thumbs-slide {
    position: static;
  }
}

.rsts-video-iframe,
.rsts-thumbs-video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rsts-type-slide .rsts-view,
.rsts-thumbs-type-slide .rsts-thumbs-view {
  cursor: url("../img/openhand.cur"), default;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -ms-grab;
  cursor: -o-grab;
  cursor: grab;
}

.rsts-type-slide.rsts-dragging .rsts-view,
.rsts-thumbs-type-slide.rsts-thumbs-dragging .rsts-thumbs-view {
  cursor: url("../img/closedhand.cur"), default;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -ms-grabbing;
  cursor: -o-grabbing;
  cursor: grabbing;
}

@media print {
  .rsts-nav,
  .rsts-prev,
  .rsts-next,
  .rsts-overlay-prev,
  .rsts-overlay-next,
  .rsts-progress,
  .rsts-thumbs-nav,
  .rsts-thumbs-prev,
  .rsts-thumbs-next,
  .rsts-thumbs-overlay-prev,
  .rsts-thumbs-overlay-next,
  .rsts-thumbs-progress {
    display: none !important;
  }
}
